*{
    font-family: 'Roboto', sans-serif;
}
/* navbar */
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 32px;
    letter-spacing: 0.04em;
}
.navbar-nav{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1em;
}
.nav-link{
    color: black !important;
}
.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 2px solid #000000;
    width: 100%;
    margin: auto;
    padding-bottom: 18px;
    margin-bottom: -20px;
}
/* hero */
#hero .container{
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin-top: 100px;
}
.hero p{
    width: 100%;
    background-color: #eef2f7;
    height: 50px;
    display: flex;
    align-items: center;
    color: #636e72;
    font-size: 14px;
}
.hero a{
    background-color: #000000;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}
.text{
    text-align: justify;
    
    
}